node_modules
**/node_modules

.next
**/.next
dist
**/dist
.turbo
**/.turbo
coverage
**/coverage

packages/db/generated

.git
.github
.omc
.vercel

.env
.env.*
!.env.example

apps/api/.storage

*.log
README.md
